article {
  border: 1px solid rgb(255, 0, 0);
  padding: 0.8rem;
  border-radius: 0.3rem;
  background: rgba(255, 0, 0, 0.1);
  height: 23vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
  }

  main {
    overflow: hidden;
    p {
      font-size: 0.9rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      padding: 0.4rem 1rem;
      border-radius: 9999999px;
      background: var(--ion-color-unimayor-secondary);
      color: var(--ion-color-unimayor-light);
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
  }
}
