ion-row {
  height: 100%;
  opacity: 0.4;
}

ion-label {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 12px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
