article {
  border: 1px solid var(--ion-color-unimayor-primary);
  padding: 0.8rem;
  border-radius: 0.3rem;
  background: var(--ion-color-unimayor-primary-opacity);
  height: 23vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
  }

  main {
    overflow: hidden;
    height: 12vh;

    p {
      font-size: 0.9rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      padding: 0.2rem 0.8rem;
      border-radius: 9999999px;
    }

    .done {
      background-color: var(--ion-color-unimayor-secondary);
      color: #fff;
    }

    .process {
      background-color: var(--ion-color-unimayor-tertiary);
      color: var(--ion-color-unimayor-contrast);
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
  }
}
