<ion-router-link
  [routerLink]="['/user/view-report', report()?.id]"
  style="text-decoration: none; color: inherit"
>
  <article>
    <header>
      <h3>{{ report()?.location }}</h3>

      <p>{{ report()?.date }}</p>
    </header>

    <main>
      <p>{{ report()?.description }}</p>
    </main>

    <footer>
      @if (report()?.status === 'En Proceso') {
      <div class="process">En Proceso</div>
      } @if (report()?.status === 'Terminado') {
      <div class="done">Terminado</div>
      }

      <p>{{ report()?.date }}</p>
    </footer>
  </article>
</ion-router-link>
