<ion-router-link
  [routerLink]="['/user/view-report', report()?.idReporte]"
  style="text-decoration: none; color: inherit"
>
  <article>
    <header>
      <h3>{{ report()?.ubicacion?.nombre }}</h3>

      <!-- <p>{{ report()?.date }}</p> -->
    </header>

    <main>
      <p>{{ report()?.descripcion }}</p>
    </main>

    <footer>
      @if (report()?.estado === 'En Proceso') {
      <div class="process">En Proceso</div>
      } @if (report()?.estado === 'Terminado') {
      <div class="done">Terminado</div>
      }

      <!-- <p>{{ report()?.date }}</p> -->
    </footer>
  </article>
</ion-router-link>
