<app-header></app-header>

<ion-content>
  @if (reports().length <= 0) {
  <app-no-reports></app-no-reports>
  }

  <section>
    @if (myReports().length > 0) {
    <h2>Reporte Aceptado</h2>

    <div>
      @for (report of myReports(); track report.idReporte) {
      <app-card-accept [report]="report"></app-card-accept>
      }
    </div>

    } @else if (reports().length > 0) {
    <h2>Reportes En Curso</h2>

    <div>
      @for (report of reports(); track report.idReporte) {
      <app-card-accept [report]="report"></app-card-accept>
      }
    </div>
    }
  </section>
</ion-content>
