<app-header></app-header>

<ion-content class="ion-padding">
  @defer (when reports.length <= 0) {
  <app-no-reports></app-no-reports>
  }

  <div class="section-title">
    <h2>Reportes Pendientes</h2>
  </div>

  @for (report of reports; track report.id) {
  <ion-card class="report-card" (click)="onCardClick($event, report.id)">
    <div class="card-content-wrapper">
      <div class="card-header">
        <div class="location-title">{{ report.location }}</div>
        <div class="time">{{ report.date.split(' ')[1] }}</div>
      </div>

      <div class="card-content">{{ report.description }}</div>
    </div>
    
    <div class="card-footer">
      <ion-button (click)="onAcceptReport($event, report.id)" class="accept-button" shape="round" size="small"
        >Aceptar</ion-button
      >
      <div class="date-label">{{ report.date.split(' ')[0] }}</div>
    </div>
  </ion-card>
  }
</ion-content>

<app-link-create-report></app-link-create-report>
