ion-content {
  background: var(--ion-color-unimayor-light);
}

section {
  padding: 1rem;

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
