<ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-avatar>
          <img src="/assets/logo_unimayor.png" />
        </ion-avatar>
      </ion-col>
      <ion-col size="auto" class="title"> Reportes Unimayor </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <img src="/assets/no_reports.png" />
        <ion-label> Sin Reportes </ion-label>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
