<ion-content [fullscreen]="true">
  <div>
    <section>
      <div>
        <img src="assets/logo_unimayor.png" alt="SafeUnimayor Logo" />
      </div>
      <h1>Reportes Unimayor</h1>
    </section>

    <form [formGroup]="LoginForm" (ngSubmit)="handleLogin()">
      <div>
        <label for="email">Correo Institucional</label>
        <input
          type="email"
          formControlName="email"
          placeholder="example@unimayor.edu.co"
          name="email"
          required
        />
      </div>

      <div>
        <label>Contraseña</label>
        <input
          type="password"
          formControlName="password"
          placeholder="example"
          name="password"
          required
        />
      </div>

      <section class="rememberMe">
        <input
          type="checkbox"
          formControlName="rememberMe"
          name="rememberMe"
          id="rememberMe"
        />
        <label>Mantener Sesión Iniciada</label>
      </section>

      <section>
        <button>Iniciar Sesión</button>
      </section>
    </form>
  </div>
</ion-content>
