<!-- <ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-avatar>
            <img src="/assets/logo_unimayor.png" />
          </ion-avatar>
        </ion-col>
        <ion-col size="auto" class="title"> Reportes Unimayor </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
